<div id="page">


<!--  <youtube-player id="frame"-->
<!--    #player-->
<!--    [videoId]="videoId"-->
<!--                  suggestedQuality="highres"-->
<!--                  (ready)="onReady($event)"-->
<!--    (stateChange)="onStateChange($event)"-->
<!--  ></youtube-player>-->

  <div id="overlay">

  </div>
</div>
