#page{
  height: 100vh;
  width: 100vw;
  //background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
::ng-deep iframe, youtube-player{
  height: 100vh;
  width: 100vw;
}
#overlay{
  z-index: 100;
  //height: calc(100vh - 100px);
  height: 100vh;
  width: 100vw;
  background: black;
  position: fixed;
  top:0;
  left: 0;
}
